body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #fff;
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid #ebebeb;
}

.navbar-left img {
    height: 60px;
    margin: 0 auto;
}

.navbar-right {
    display: flex;
}

.navbar-button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.box {
    width: 350px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
}

img {
    width: 175px;
    height: 51px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    width: 80%;
    display: block;
    margin: auto;
    background-color: #67b5fa;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}